.header {
    background-color: rgba(17, 25, 40, 1);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
    color: #fff;
    align-items: center;
}

.lt {
    color: rgba(255, 255, 255, 1);
}

.InputFlex {
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HeaderButton {
    display: flex;
    justify-content: space-between;
    width: 170px;
}

.HeaderRight {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.headeartextbutton {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.LoginButton,
.JoinButton {
    font-size: medium;
    padding: 4px 22px;
    color: rgba(17, 25, 40, 1);
    background: linear-gradient(90deg, rgba(245, 175, 25, 1), rgba(241, 39, 17, 1));
    border-radius: 3px;
    margin-right: 5px;
}

.RegButton {
    font-size: medium;
    padding: 4px 22px;
    color: rgb(154, 154, 154);
    background: rgba(17, 25, 40, 0.788);
    border: 1px, rgb(154, 154, 154), solid;
    border-radius: 3px;
    margin-left: 5px;
}

.LogButtons {
    display: flex;
    justify-content: space-around;
    width: 240px;
    margin: auto;
}

.SignIn {
    font-size: medium;
    padding: 4px 22px;
    color: rgba(17, 25, 40, 1);
    background: linear-gradient(90deg, rgba(245, 175, 25, 1), rgba(241, 39, 17, 1));
    border-radius: 3px;
}

.HeaderInput {
    background-color: rgba(214, 216, 222, 0.4);
    color: rgba(0, 0, 0, 0.9);
    border: 10px, rgba(255, 255, 255, 1);
    margin-top: auto;
    width: 240px;
    height: 27px;
}

.filternum {
    position: absolute;
    right: -2px;
    top: -2px;
    height: 8px;
    width: 8px;
    background: rgba(245, 175, 25, 1);
    border-radius: 50%;
}

.filtermenu {
    position: relative;
}

.iconquantity {
    position: absolute;
    top: -2px;
    right: -8px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: small;
}

.usermenuf {
    width: 500px;
    height: 100px;
}

:where(.css-dev-only-do-not-override-1m2bkf9).ant-drawer .ant-drawer-content {
    background-color: rgba(17, 25, 40, 1);
    justify-content: center;
}

.UserDrawer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.UserDrawer div {
    cursor: pointer;
}

.LoginInput {
    background-color: rgba(214, 216, 222, 0.4);
    color: rgba(0, 0, 0, 0.9);
    border: 10px, rgba(255, 255, 255, 1);
    margin-top: auto;
    width: 340px;
    height: 27px;
}

.LoginInputMargin {
    margin-left: 15%;
}

.filter {
    padding-top: 0px;
}

.filteruse {
    position: relative;
    margin: 10px;
}

.Filteractive {
    position: absolute;
}

.filterflex {
    margin-top: 10px;
    justify-content: space-between;
    display: flex;
    width: 10px;
}

.sort {
    color: rgba(255, 255, 255, 1);
}

.sortactive {
    color: rgba(245, 175, 25, 1);
}

.UserDrawer {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.UserDrawer .link .div {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.ProfileButton {
    font-size: medium;
    background: rgba(17, 25, 40, 0.788);
}

:where(.css-dev-only-do-not-override-1m2bkf9).ant-modal .ant-modal-content {
    background: rgb(17, 25, 40);
}

:where(.css-dev-only-do-not-override-1m2bkf9).ant-form-item .ant-form-item-label>label {
    color: rgba(255, 255, 255, 1);
}

:where(.css-dev-only-do-not-override-1m2bkf9).ant-form-item .ant-form-item-label>label.ant-form-item-required::before {
    color: rgba(245, 175, 25, 1);
}

.anticon {
    color: rgba(255, 255, 255, 1);
}

:where(.css-dev-only-do-not-override-1m2bkf9).ant-pagination .ant-pagination-item a {
    color: rgba(255, 255, 255, 1);
}



:where(.css-dev-only-do-not-override-1m2bkf9).ant-pagination .ant-pagination-item-active:hover a {
    color: rgba(245, 175, 25, 1);
}

:where(.css-dev-only-do-not-override-1m2bkf9).ant-pagination .ant-pagination-item-active,
:where(.css-dev-only-do-not-override-1m2bkf9).ant-pagination .ant-pagination-item-active:hover {
    border-color: rgba(245, 175, 25, 1);
}

:where(.css-dev-only-do-not-override-1m2bkf9).ant-pagination .ant-pagination-item {
    background-color: rgba(17, 25, 40, 0.788);
}